@{
    var username = Context.Request.Cookies["Username"];
    var profileimg = @Context.Request.Cookies["ProfileImgPath"];
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>@ViewData["Title"]-OrederApp</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/orderapp.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/easytimer.js@4.5.4/dist/easytimer.min.js"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-color ">
    <div class="container-fluid navbar-pf d-flex justify-content-between align-items-center">
        <div class="navbar-brand d-flex align-items-center" href="#">
            <a class="bg-white d-none d-md-block" asp-action="Index" asp-controller="Dashboard" ><img src="~/images/logos/pizzashop_logo.png" width="40" height="40">
            </a>
            <div class="h5 text-white ms-2 m-0 d-none d-md-block">PIZZASHOP</div>
            <a data-bs-toggle="collapse" data-bs-target="#mobileNavMenu" class="navbar-brand m-1 "><span
                    class=" d-md-none rounded-1">
                    <i class="fa-solid fa-bars" style="color: #ffffff;"></i></span></a>
        </div>
        <div class="d-flex justify-content-center align-items-center m-1 d-md-none">
            <h5 class="text-white m-0">PIZZASHOP</h5>
        </div>


        <div class="ms-auto d-flex align-items-center gap-2 d-none d-md-flex me-2">
            @if (User.IsInRole("Account Manager") || User.IsInRole("Chef"))
            {
                <a class="btn btn-outline-light rounded-pill d-flex align-items-center btn-sm @(ViewBag.ActiveNav == "KOT" ? "selected-nav" : "")"
                    asp-action="Index" asp-controller="KOT">
                    <i class="fa-regular fa-clipboard me-1"></i> KOT
                </a>
            }
            @if (User.IsInRole("Account Manager"))
            {
                <a class="btn btn-outline-light rounded-pill d-flex align-items-center btn-sm @(ViewBag.ActiveNav == "WaitingList" ? "selected-nav" : "")"
                    asp-action="Index" asp-controller="WaitingList">
                    <i class="fa-regular fa-clock me-1"></i> Waiting List
                </a>

                <a class="btn btn-outline-light rounded-pill d-flex align-items-center btn-sm @(ViewBag.ActiveNav == "Tables" ? "selected-nav" : "")"
                    asp-action="Index" asp-controller="Tables">
                    <i class="fa-solid fa-tablet me-1"></i> Tables
                </a>

                <a class="btn btn-outline-light rounded-pill d-flex align-items-center btn-sm @(ViewBag.ActiveNav == "Menu" ? "selected-nav" : "")"
                    asp-action="Index" asp-controller="MenuApp">
                    <i class="fa-solid fa-eject me-1"></i> Menu
                </a>
            }
        </div>


        <div class="btn-group">
            <img class="dropdown-toggle rounded-circle border" data-bs-toggle="dropdown" aria-expanded="false"
                width="35" height="35" src="@profileimg" alt="">
            <ul class="dropdown-menu dropdown-menu-end ">
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                        <img class="me-2 rounded-circle border" width="25" height="25" src="@profileimg" alt="">
                        <p class="m-0">@username</p>
                    </a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item d-flex align-items-center" asp-action="Profile" asp-controller="Dashboard">
                        <img class="me-2 dashboard-icon rounded-circle border" width="25" height="25" src="~/images/Default_pfp.svg.png"
                            alt="">
                        <p class="m-0">My profile</p>
                    </a></li>
                <li><a class="dropdown-item d-flex align-items-center" asp-action="ChangePassword"
                        asp-controller="Dashboard">
                        <img class="dashboard-icon me-1" src="~/images/icons/arrow-clockwise.svg" alt="">
                        <p class="m-0">Change Password</p>
                    </a></li>
                <li><a class="dropdown-item d-flex align-items-center" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <div class="d-flex">
                            <img class="dashboard-icon me-1" src="~/images/icons/box-arrow-right.svg" alt="">
                            <p class="m-0">Logout</p>
                        </div>
                    </a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- accordion -->
<div class="collapse d-md-none mt-2" id="mobileNavMenu">
    <div class="d-flex flex-wrap gap-1 justify-content-between p-2">
        @if (User.IsInRole("Account Manager") || User.IsInRole("Chef"))
        {
            <a class="btn btn-outline-dark rounded-pill d-flex align-items-center btn-sm @(ViewBag.ActiveNav == "KOT" ? "selected-nav" : "")"
                asp-action="Index" asp-controller="KOT">
                <i class="fa-regular fa-clipboard me-1"></i> KOT
            </a>
        }
        @if (User.IsInRole("Account Manager"))
        {
            <a class="btn btn-outline-dark rounded-pill d-flex align-items-center btn-sm @(ViewBag.ActiveNav == "WaitingList" ? "selected-nav" : "")"
                asp-action="Index" asp-controller="WaitingList">
                <i class="fa-regular fa-clock  me-1"></i> Waiting List
            </a>
            <a class="btn btn-outline-dark rounded-pill d-flex align-items-center btn-sm @(ViewBag.ActiveNav == "Tables" ? "selected-nav" : "")"
                asp-action="Index" asp-controller="Tables">
                <i class="fa-solid fa-tablet me-1"></i> Tables
            </a>
            <a
                class="btn btn-outline-dark rounded-pill d-flex align-items-center btn-sm @(ViewBag.ActiveNav == "Menu" ? "selected-nav" : "")"
                asp-action="Index" asp-controller="MenuApp">
                <i class="fa-solid fa-eject me-1"></i> Menu
            </a>
        }

    </div>
</div>

<!-- Modal -->

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="display: flex; justify-content: center;">
        <form>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img class="warning-img" width="40"
                            src="~/images/toppng.com-warning-icon-2400x2400.png" alt=""></div>
                    <div class="d-flex justify-content-center">Are you sure you want to logout?
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class=" mt-3">
                        <button type="submit" asp-action="Logout" asp-controller="Dashboard"
                            class="btn navbar-color text-white">Yes</button>
                        <button type="submit" class="btn cancel-btn-color ms-1">No</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div>
    <partial name="_Notification.cshtml"></partial>
    @RenderBody()
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<script src="~/js/bootstrap.bundle.min.js"></script>